@(tasksForDisplay: List[List[Task]], displayForm: Form[Center])

@import helper._

@main("On the DOT! -- Planner") {
<h1>Planner:</h1>

	@form(routes.Planner.toDisplay()){
		@inputDate(
	        	displayForm("centerDate"),
	        	'_label -> "View Date:"
	        )
	    <input type="submit" value="Create">
	}

	<h2>to-dos(s):</h2>
    <ul>@for(tasksThisDay <- tasksForDisplay){
   			<h3>NEW DAY</h3>
	    	@for(task <- tasksThisDay)	{
	    		<li>
	    			<b>@task.title</b> <i>@task.taskType</i>
	    			</br>Start Time: @task.startDay
	    			</br>End Time: @task.endTime
	    			</br>Place: @task.place
	    			</br>Other Notes: @task.notes
	    			@form(routes.Application.deleteTask(task.id))	{
	    				<input type="submit" value="Delete">
	    			}
	    		</li>
	    	}
	    }
    </ul>
    
    

}